html {
    $min-width: getBp('phone');
    $max-width: getBp('desktop');
    line-height: 1.5;
    // $max-width: 1500px; 
    $min-width: 756px;
    $max-width: 1200px;
    // $max-width: 1500px;
    $max-width: 1500px;
    $min-font: 14px;
    $max-font: 20px;
    @include fluid-font($min-width, $max-width, $min-font, $max-font);
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smooth: antialiased;
    font-family: $main-font;
    color: $text-main;
    // font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-smooth: auto;

}

// font-smooth: auto;

h1 {
    font-family: $heading__font;
    font-weight: $heading__font-weight;
    color: $heading__color;
    margin: .67em 0 .34em 0 // margin: .67em 0 calc(0.67em / 2) 0
}

h2 {
    font-family: $heading2__font;
    font-weight: $heading2__font-weight;
    color: $heading2__color;
    margin: .75em 0 .38em 0 // margin: .75em 0 calc(0.75em / 2) 0
}

h3 {
    font-family: $heading3__font;
    font-weight: $heading3__font-weight;
    color: $heading3__color;
    margin: .83em 0 .42em 0 // margin: .83em 0 calc(0.83em / 2) 0
}

h4 {
    font-family: $heading4__font;
    font-weight: $heading4__font-weight;
    color: $heading4__color;
    margin: 1.12em 0 .57em 0 // margin: 1.12em 0 calc(1.12em / 2) 0
}

// h5 {
//     font-family: $heading5__font;
//     font-weight: $heading5__font-weight;
//     color: $heading5__color;
//     margin: 1.5em 0 .75em 0
// }

// h6 {
//     font-family: $heading6__font;
//     font-weight: $heading6__font-weight;
//     color: $heading6__color;
//     margin: 1.67em 0 .84em 0
// }
// h1, h2, h3, h4, h5, h6 {
//     color: $text-heading;
//     font-weight: 400;
// }

p {
    font-family: $paragraph__font;
    font-weight: $paragraph__font-weight;
    color: $paragraph__color;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;

    img {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

p {
    font-weight: 300;
    color: $text-main;
}

.hidden {
    @extend %hidden !optional;
}