// /**************************************************
// Generel variables for framework
// ***************************************************/

// Getting fonts

// Imports are now handled by font-magician
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

//
// SCSS VARS_____________________
//
// Fonts and fallbacks
// $main-font: 'Noto Color Emoji', sans-serif;
$main-font: 'Noto Color Emoji', 'Noto Sans', sans-serif;
// $main-font: 'Open Sans', sans-serif;
// $main-font: 'Crimson Text', sans-serif;

// Core Colors.
// tc = Theme Color;
$tc-ubuntu-orange: #E95420;
$tc-white: #FFF;
$tc-black: #000;

// Supporting colors
$tc-light-aubergine: #77216F;
$tc-mid-aubergine: #5E2750;
$tc-dark-aubergine: #2C001E;

// Neutral colors
$tc-warm-grey: #AEA79F;
$tc-cool-grey: #333;
$tc-txt-grey: #111;


$kid-color-theme: (
    '1': #2BA8FF,
    '2': #0AE80C,
    '3': #FFCD17,
    '4': #E8290A,
    '5': #7208FF
);

$kid-color-theme2: (
    '1': #147EEE,
    '2': #141414,
    '3': #E7E7E7,
    '4': #14EE7E,
    '5': #EE1414
);

$kid-color-theme3: (
    '1': #F76726,
    '2': #3CA8FF,
    '3': #FFED2B,
    '4': #13C2C9,
    '5': #FB3656
);

$kid-color-theme-menu: (

);

@function kidColor($key, $color-map: $kid-color-theme) {
    @if not map-has-key($color-map, $key) {
        @warn 'no color with that name found.';
        @return deeppink;
    } @else {
        @return map-get($color-map, $key);
    }
}

$color-theme: (
    prim1: $tc-ubuntu-orange,
    prim2: $tc-white,
    prim3: $tc-black,
    sec1: $tc-light-aubergine,
    sec2: $tc-mid-aubergine,
    sec3: $tc-dark-aubergine,
    tri1: $tc-warm-grey,
    tri2: $tc-cool-grey,
    tri3: $tc-txt-grey
);

//navigation
// $nav-height: px2rem(100px);
$nav-height: px2rem(100px);


@function get-color($key) {
    @if not map-has-key($color-theme, $key) {
        @warn 'no color with that name found.';
        @return deeppink;
    } @else {
        @return map-get($color-theme, $key);
    }
}


$breakpoints: (
    'phone': 300px,
    'tablet': 768px,
    'desktop': 1024px
);
// ) !default;

$gridcontainer-exists: true;

$debug: true;

/*
Root vars. STANDARD FONTS AND COLORS 
*/
// :root {
//     // /* FONTS AND FALLBACKS */
    
    
//     // /* Calculation */
//     // --respaonsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 100px) / (1200 - 100))); /* Ranges from 421px to 1199px */
// }
