// /**************************************************
// Generel variables for framework
// ***************************************************/

// Getting fonts

// Imports are now handled by font-magician
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');

//
// SCSS VARS_____________________
//
// Fonts and fallbacks
// $main-font: 'Noto Color Emoji', sans-serif;
// $main-font: 'Poor Story', 'Open Sans', 'Noto Color Emoji', 'Noto Sans', sans-serif;
// $main-font: 'Open Sans', sans-serif;
// $main-font: 'Crimson Text', sans-serif;
// $main-font: 'Skranji', sans-serif;
// $main-font: 'Arima Madurai', sans-serif;
// $main-font: 'Bubblegum Sans', sans-serif;
// $main-font: 'Englebert', sans-serif;
// $main-font: 'Covered By Your Grace', sans-serif;
$main-font: 'Palanquin', sans-serif;


$kid-color-theme: (
    '1': #2BA8FF,
    '2': #0AE80C,
    '3': #FFCD17,
    '4': #E8290A,
    '5': #7208FF
);

$kid-color-theme2: (
    '1': #147EEE,
    '2': #141414,
    '3': #E7E7E7,
    '4': #14EE7E,
    '5': #EE1414
);

$kid-color-theme3: (
    '1': #F76726,
    '2': #3CA8FF,
    '3': #FFED2B,
    '4': #13C2C9,
    '5': #FB3656
);

$kid-color-theme-menu: (

);

@function kidColor($key, $color-map: $kid-color-theme) {
    @if not map-has-key($color-map, $key) {
        @warn 'no color with that name found.';
        @return deeppink;
    } @else {
        @return map-get($color-map, $key);
    }
}

$text-heading: #000;
$text-main: #111;
$text-secoundary: #030391;


//PADDING & MARGINS

$spacing: 2.2rem;
$smallspacing: 2rem;


$padding__botton: 1rem 2rem;
$padding__botton-sm: 0.5rem 1rem;
$padding__botton-xs: 0.25rem 0.5rem;

$smargin: 1rem;
$margin: 2rem;

//STYLING
$cards__border-radius: .5rem;


$breakpoints: (
    'phone': 400px,
    'tablet': 768px,
    'desktop': 1024px
);
// ) !default;


$menu-color: kidColor('4', $kid-color-theme3);

// $menu-active-color: #fada77;
$menu-active-color: tint(kidColor('1', $kid-color-theme2), 50%);

// $burger-color: rgb(48, 77, 116);
$burger-color: kidColor('3', $kid-color-theme2);

$menu-items: 4;

$menu-item-size: 80px;

$menu-item-gap: 0;

$burger-size: $menu-item-size / 2 + 10px;

$pix-dir: 10px;

$start-at-menu: true;



