input, textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

input {
  outline-color: transparent;
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input:focus, input:hover {
  outline: 0px !important;
  -webkit-appearance: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

input:focus + label::before {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 420px) {
  html {
    font-size: calc(14px + 7 * ((100vw - 420px) / 348));
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 21px;
  }
}

body {
  background: #333;
  color: white;
  text-align: center;
  height: 1000vh;
  animation: appear 1s 1;
}

body > svg {
  height: 0;
  width: 0;
  visibility: hidden;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  color: inherit;
}

h1 {
  font-size: 3em;
}

.menu, .sub-menu {
  filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button, .sub-menu .menu-item2, .sub-menu .menu-open-button2 {
  background: #bada55;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 5rem;
  transform: translate3d(0, 0, 0);
  transition: transform 150ms;
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.345, 1.295);
  /* custom */
}

.menu-open {
  display: none;
}

.hamburger {
  width: 1.5625rem;
  height: 0.1875rem;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.78125rem;
  margin-top: -0.09375rem;
  transition: transform 200ms;
}

.hamburger-1 {
  transform: translate3d(0, -0.5rem, 0);
}

.hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  transform: translate3d(0, 0.5rem, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(405deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1) rotate(720deg);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(315deg);
}

.menu {
  animation-name: move-up-appear;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.9, -0.6, 0.115, 1.2);
  /* custom */
  position: fixed;
  left: calc(50% - 2.5rem);
  bottom: 6.875rem;
  opacity: 1;
  box-sizing: border-box;
  font-size: 1.25rem;
  text-align: left;
}

@media (min-width: 1025px) {
  .menu {
    animation-name: move-down-appear;
    bottom: unset;
    left: 10.625rem;
    top: 1.875rem;
  }
}

@keyframes move-up-appear {
  0% {
    bottom: -100%;
    opacity: 0;
  }
  81% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    bottom: 6.875rem;
    transform: scale(1);
  }
}

@keyframes move-down-appear {
  0% {
    top: -100%;
    opacity: 0;
  }
  81% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    top: 1.875rem;
    transform: scale(1);
  }
}

.menu-item {
  /*
  &:hover{
    background:white;
    color:$fg;
  }
  */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-item:nth-child(3) {
  transition-duration: 200ms;
}

.menu-item:nth-child(4) {
  transition-duration: 200ms;
}

.menu-item:nth-child(5) {
  transition-duration: 200ms;
}

.menu-item:nth-child(6) {
  transition-duration: 200ms;
}

.menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.515, 1.58);
  /* custom */
  transition-duration: 400ms;
  cursor: pointer;
}

/*
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
*/
.menu-open:checked + .menu-open-button {
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.515, 1.58);
  /* custom */
  transition-duration: 200ms;
  transform: scale(0.85, 0.85) translate3d(0, -0.625rem, 0);
  background: #ff0000;
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.345, 1.295);
  /* custom */
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  transition-duration: 410ms;
  transform: translate3d(-10rem, 1.25rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  transition-duration: 330ms;
  transform: translate3d(-5rem, 0.3125rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  transition-duration: 330ms;
  transform: translate3d(5rem, 0.3125rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  transition-duration: 410ms;
  transform: translate3d(10rem, 1.25rem, 0);
}

@media (min-width: 1025px) {
  .menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 410ms;
    transform: translate3d(-10rem, -1.25rem, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 330ms;
    transform: translate3d(-5rem, -0.3125rem, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 330ms;
    transform: translate3d(5rem, -0.3125rem, 0);
  }
  .menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 410ms;
    transform: translate3d(10rem, -1.25rem, 0);
  }
}

.sub-menu {
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  position: relative;
}

.sub-menu .menu-open2 {
  display: none;
}

.sub-menu .hamburger2 {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.sub-menu .hamburger-12 {
  transform: translate3d(0, -0.5rem, 0);
}

.sub-menu .hamburger-22 {
  transform: translate3d(0, 0, 0);
}

.sub-menu .hamburger-32 {
  transform: translate3d(0, 0.5rem, 0);
}

.sub-menu .menu-open2:checked + .menu-open-button2 .hamburger-12 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.sub-menu .menu-open2:checked + .menu-open-button2 .hamburger-22 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.sub-menu .menu-open2:checked + .menu-open-button2 .hamburger-32 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.sub-menu .menu-open-button2 {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.515, 1.58);
  /* custom */
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.sub-menu .menu-item2 {
  /*
    &:hover{
      background:white;
      color:$fg;
    }
    */
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.sub-menu .menu-item2:nth-child(3) {
  transition-duration: 200ms;
}

.sub-menu .menu-item2:nth-child(4) {
  transition-duration: 200ms;
}

.sub-menu .menu-item2:nth-child(5) {
  transition-duration: 200ms;
}

.sub-menu .menu-item2:nth-child(6) {
  transition-duration: 200ms;
}

.sub-menu .menu-open2:checked + .menu-open-button2 {
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.515, 1.58);
  /* custom */
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  background: #ff0000;
}

.sub-menu .menu-open2:checked ~ .menu-item2 {
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.345, 1.295);
  /* custom */
}

.sub-menu .menu-open2:checked ~ .menu-item2:nth-child(3) {
  transform: translate3d(0, -80px, 0);
}

.sub-menu .menu-open2:checked ~ .menu-item2:nth-child(4) {
  transform: translate3d(0, -160px, 0);
}

.sub-menu .menu-open2:checked ~ .menu-item2:nth-child(5) {
  transform: translate3d(0, -240px, 0);
}

.sub-menu .menu-open2:checked ~ .menu-item2:nth-child(6) {
  transform: translate3d(0, -320px, 0);
}

/*# sourceMappingURL=maps/gooey.css.map */
