@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdKw.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOiCnqEu92Fr1Mu51QrEzAdKQ.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TjASc6CsI.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzY.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1Mu51xIIzQ.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51S7ACc6CsI.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TzBic6CsI.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOjCnqEu92Fr1Mu51TLBCc6CsI.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzY.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOkCnqEu92Fr1MmgVxIIzQ.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxO.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxM.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format("woff");
}
@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmYUtfBBc-.woff) format("woff");
}
/*
Root vars. STANDARD FONTS AND COLORS 
*/
figure {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  object-fit: contain;
}

.footer form input[type=submit], .card__button {
  display: inline-block;
  text-align: center;
  padding: .5rem 1rem;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
  letter-spacing: .1rem;
  text-decoration: none;
  outline: none;
  font-weight: 300;
}

.row {
  display: grid;
  grid-template-columns: minmax(3vw, 1fr) minmax(auto, 1200px) minmax(3vw, 1fr);
  width: 100%;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 14px;
}

@media screen and (min-width: 756px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 756px) / 744));
  }
}

@media screen and (min-width: 1500px) {
  html {
    font-size: 20px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: auto;
}

*,
:before,
:after {
  box-sizing: inherit;
}

h1 {
  font-family: '"Open sans"', sans-serif;
  font-weight: 300;
  color: #f1f1f1;
  margin: 0.67em 0 0.34em 0;
}

h2 {
  font-family: '"Open sans"', sans-serif;
  font-weight: 300;
  color: #f1f1f1;
  margin: 0.75em 0 0.38em 0;
}

h3 {
  font-family: '"Open sans"', sans-serif;
  font-weight: 300;
  color: #f1f1f1;
  margin: 0.83em 0 0.42em 0;
}

h4 {
  font-family: '"Open sans"', sans-serif;
  font-weight: 300;
  color: #f1f1f1;
  margin: 1.12em 0 0.57em 0;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #333;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

figure {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

figure img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.filler {
  height: 100vh;
}

.navbar li, .navbar__open-button {
  background-color: #13C2C9;
  border-radius: 100%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  color: white;
  text-align: center;
  left: calc(50% - 2.5rem);
  top: calc(50% - 2.5rem);
  transform: translate3d(0, 0, 0);
  transition: transform 150ms;
  transition-timing-function: cubic-bezier(0.48, -0.6, 0.345, 1.295);
  /* custom */
}

.main-nav {
  margin: 50px 0;
  padding: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 9rem;
}

@media (min-width: 1025px) {
  .main-nav {
    bottom: unset;
  }
}

.navbar {
  height: auto;
  display: inline-block;
  width: 34.375rem;
  height: 100%;
  margin: 0;
  padding: 10px 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  filter: url("#shadowed-goo");
  box-sizing: border-box;
  font-size: 1.25rem;
  text-align: left;
}

.navbar li {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  word-break: break-all;
  display: flex;
}

.navbar li a {
  justify-self: center;
  align-self: center;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  text-decoration: none;
}

.navbar li span {
  width: 1.5625rem;
  height: 0.1875rem;
  background: #E7E7E7;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.78125rem;
  margin-top: -0.09375rem;
  transition: transform 200ms;
}

.navbar li span:nth-child(1) {
  transform: translate3d(0, -0.5rem, 0);
}

.navbar li span:nth-child(2) {
  transform: translate3d(0, 0, 0);
}

.navbar li span:nth-child(3) {
  transform: translate3d(0, 0.5rem, 0);
}

.navbar__open-button {
  z-index: 200;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* custom */
  transition-duration: 400ms;
  cursor: pointer;
  line-height: 100%;
}

.navbar__open-button span {
  width: 1.5625rem;
  height: 0.1875rem;
  background: #E7E7E7;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.78125rem;
  margin-top: -0.09375rem;
  transition: transform 200ms;
}

.navbar__open-button span:nth-child(1) {
  transform: translate3d(0, -0.5rem, 0);
}

.navbar__open-button span:nth-child(2) {
  transform: translate3d(0, 0, 0);
}

.navbar__open-button span:nth-child(3) {
  transform: translate3d(0, 0.5rem, 0);
}

.navbar__open-button .burger-shape {
  background: #E7E7E7;
  position: relative;
  height: 3.125rem;
  width: 3.125rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(0 100%, 0 81%, 51% 75%, 51% 59%, 0 61%, 0 34%, 49% 37%, 49% 18%, 0 22%, 0 0, 100% 0, 100% 22%, 49% 18%, 49% 38%, 100% 46%, 100% 60%, 51% 59%, 51% 76%, 100% 74%, 100% 100%);
  transition: clip-path 200ms;
}

@keyframes playMenu {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -4320px 0px;
  }
}

.navbar--open li {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.navbar--open li:nth-child(1) {
  /* left */
  transition-duration: 730ms;
  transform: translate3d(-15rem, 1.25rem, 0);
}

.navbar--open li:nth-child(2) {
  /* left */
  transition-duration: 650ms;
  transform: translate3d(-10rem, 0.625rem, 0);
}

.navbar--open li:nth-child(3) {
  /* left */
  transition-duration: 570ms;
  transform: translate3d(-5rem, 0rem, 0);
}

.navbar--open li:nth-child(5) {
  /* right */
  transition-duration: 570ms;
  transform: translate3d(5rem, 0rem, 0);
}

.navbar--open li:nth-child(6) {
  /* right */
  transition-duration: 650ms;
  transform: translate3d(10rem, 0.625rem, 0);
}

.navbar--open li:nth-child(7) {
  /* right */
  transition-duration: 730ms;
  transform: translate3d(15rem, 1.25rem, 0);
}

@media (min-width: 1025px) {
  .navbar--open li:nth-child(1) {
    /* left */
    transition-duration: 730ms;
    transform: translate3d(-15rem, -1.25rem, 0);
  }
  .navbar--open li:nth-child(2) {
    /* left */
    transition-duration: 650ms;
    transform: translate3d(-10rem, -0.625rem, 0);
  }
  .navbar--open li:nth-child(3) {
    /* left */
    transition-duration: 570ms;
    transform: translate3d(-5rem, 0rem, 0);
  }
  .navbar--open li:nth-child(5) {
    /* right */
    transition-duration: 570ms;
    transform: translate3d(5rem, 0rem, 0);
  }
  .navbar--open li:nth-child(6) {
    /* right */
    transition-duration: 650ms;
    transform: translate3d(10rem, -0.625rem, 0);
  }
  .navbar--open li:nth-child(7) {
    /* right */
    transition-duration: 730ms;
    transform: translate3d(15rem, -1.25rem, 0);
  }
}

.navbar--open .navbar__open-button {
  /* custom */
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 400ms;
  transform: scale(0.85, 0.85) translate3d(0, 0, 0);
  background: #8abff7;
}

.navbar--open .navbar__open-button span:nth-child(1) {
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.navbar--open .navbar__open-button span:nth-child(2) {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.navbar--open .navbar__open-button span:nth-child(3) {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.navbar--open .navbar__open-button .burger-shape {
  transition: clip-path 500ms;
  clip-path: polygon(40% 100%, 23% 96%, 11% 85%, 3% 68%, 1% 50%, 5% 33%, 13% 19%, 24% 10%, 37% 4%, 55% 3%, 73% 7%, 90% 18%, 96% 34%, 100% 45%, 99% 60%, 95% 76%, 86% 87%, 75% 96%, 61% 100%, 100% 100%);
}

.footer {
  display: grid;
  grid-gap: 2.2rem;
  grid-template-columns: 1fr;
  padding: 2.2rem;
  background: steelblue;
}

@media (min-width: 769px) {
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1025px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer__nav ul,
.footer__subnav ul {
  display: flex;
  flex-direction: column;
}

.footer__nav ul a,
.footer__subnav ul a {
  color: #111;
  font-weight: 300;
}

.footer form {
  display: flex;
  flex-direction: column;
}

.footer form input[type=email],
.footer form select {
  width: 100%;
  padding: .4rem .6rem;
  border: .1rem solid #ccc;
  border-radius: .1rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.footer form label {
  padding: .2rem .4rem;
  color: #333;
  font-weight: 300;
}

.footer form input[type=submit] {
  background-color: tomato;
  margin: .5rem 0 0 0;
  align-self: center;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  background: green;
  grid-gap: 2rem;
  padding: 2rem;
}

@media (min-width: 401px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2.2rem;
    padding: 4.4rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: #eee;
  border-radius: 0.2rem;
}

.card figure {
  border-radius: 0.2rem 0.2rem 0 0;
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  padding: 66% 0 0 0;
  /* 34.37% = 100 / (w / h) = 100 / (640 / 220) */
}

.card figure .off {
  position: absolute;
  top: 8%;
  left: -.5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0 0.2rem 0.2rem 0;
  font-size: 18px;
  background: yellow;
  color: black;
  padding: .25rem 1rem;
}

.card figure img {
  border-radius: 0.2rem 0.2rem 0 0;
  display: block;
  width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card__title {
  text-align: center;
  font-size: 25px;
  margin: .6rem;
  letter-spacing: .2rem;
}

.card__content {
  padding: 0 2rem;
  font-size: 16px;
  flex-grow: 1;
}

.card hr {
  width: calc(100% - 4rem);
  margin: 0 2rem;
  opacity: .17;
}

.card div {
  display: flex;
  justify-content: space-between;
  background: steelblue;
  padding: 1rem;
  border-radius: 0.2rem;
  transform: scale(1.02);
}

.card__price {
  color: white;
  font-weight: 300;
  align-self: center;
  font-size: 18px;
}

.card__price-discount {
  padding: 0 .2rem;
  font-size: 16px;
  align-self: center;
  text-decoration: line-through;
  color: red;
}

.card__button {
  background: firebrick;
  font-size: 14px;
  font-weight: 300;
}

/*# sourceMappingURL=maps/style.css.map */
