.footer {
    @include grid3;
    justify-content: center;
    padding: $spacing;
    background: steelblue;

    &__nav ul {
        display: flex;
        flex-direction: column;

        & a {
            // padding: $padding__botton-xs;
            background: red;
            display: inline-block;
        }
    }
}