.footer {
    @include grid3;
    padding: $spacing;
    background: steelblue;

    &__nav ul,
    &__subnav ul {
        display: flex;
        flex-direction: column;

        & a {
            color: $color__primary;
            font-weight: 300;
        }
    }

    form {
        display: flex;
        flex-direction: column;

        input[type=email],
        select {
            width: 100%;
            padding: .4rem .6rem;
            border: .1rem solid #ccc;
            border-radius: .1rem;
            box-sizing: border-box;
            margin-bottom: 1rem;
        }

        label {
            padding: .2rem .4rem;
            color: $color__secoundary;
            font-weight: 300;
        }

        input[type=submit] {
            @extend %button;
            background-color: tomato;
            margin: .5rem 0 0 0;
            // width: 80%;
            align-self: center;
            // margin: 16px 0 0 0;
        }
    }
}