.nav {
    clip-path: url(#navClipPath);
    background: blue;
    width: 100%;
    height: 300px;
    color: black;
  
  }
  .navClipPath path {
    fill: red;
    stroke: none;
    stroke-miterlimit: 0;
    box-shadow: 5px 0 3px black;
    /* position: absolute; */
    visibility: collapse;
  }