//@import "compass/css3";
// @import 'vars';
// @import 'base/resets';

@import 'abstracts/functions/sizing-functions';
@import 'abstracts/functions/power-functions';
@import 'abstracts/mixins/typography';
@import 'vendor/include-media';
//vars
// $fg:#ffc107;
$fg: #bada55;
// $bg:#009688;
$bg:#333;
//$open-distance:105px;
$open-distance: 1px;
$menu-items:4;
//$open-distance:105px;
//$opening-angle:$pi*2;
// $pi:3.14;
// $opening-angle:$pi*2;

// input[type='checkbox'] {

  $breakpoints: (
  'phone': 400px,
  'tablet': 768px,
  'desktop': 1024px,
) !default;

input, textarea {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

input {
  outline-color: transparent;
  outline: 0px !important;
  -webkit-appearance:none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  tap-highlight-color: rgba(255, 255, 255, 0);

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &:focus, &:hover {
    outline: 0px !important;
    -webkit-appearance:none !important;
  
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }
  &:focus + label::before {
    outline: none;
  }

}

html {
  scroll-behavior: smooth;
  // $min-width: 600px;
  $min-width: getBp('phone') + 100px;
  // $max-width: 1000px;
  $max-width: getBp('tablet');
  $min-font: 14px;
  $max-font: 21px;
  @include fluid-font($min-width, $max-width, $min-font, $max-font);
}

body{
  background:$bg;
  color:white;
  text-align:center;
  height: 1000vh;

  animation: appear 1s 1;

  &> svg {
    // display: none;
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    // bottom: 0%;
    // transform: translateY(100%)
  }
  100% {
    opacity: 1;
    // bottom: 13%;
    // transform: translateY(0%)
  }
  // 81% {
  //   transform: scale(1.1)
  // }
}


a{
  color:inherit;
}

// h1, h2, h3, h4{
//   margin:0;
//   margin-bottom:10px;
//   margin-top:10px;
// }

h1{
  font-size:3em;
}

%goo{
  filter:url('#shadowed-goo');
  // filter:url('#goo');
  // debug 
  //background:rgba(255,0,0,0.2);
}

%ball{
  background:$fg;
  border-radius:100%;
  // width:80px;
  // height:80px;
  width: px2rem(80px);
  height: px2rem(80px);
  // margin-left:-40px;
  position:absolute;
  // position: relative;
  // top:20px;
  color:white;
  text-align:center;
  line-height: px2rem(80px);
  transform:translate3d(0,0,0);
  // transition:transform ease-out 150ms;
  transition: transform 150ms;
  transition-timing-function: cubic-bezier(0.480, -0.600, 0.345, 1.295); /* custom */
}

.menu-open{
  display:none;
  // opacity: 0;
}

.menu-item{
  @extend %ball;
}

.hamburger{
  $width: 25px;
  $height: 3px;
  width:px2rem($width);
  height: px2rem($height);
  background:white;
  display:block;
  position:absolute;
  top:50%;
  left:50%;
  margin-left:px2rem(-$width/2);
  margin-top:px2rem(-$height/2);
  transition:transform 200ms;
}

$hamburger-spacing:px2rem(8px);

.hamburger-1{
  transform:translate3d(0,-$hamburger-spacing,0);
}

.hamburger-2{
  transform:translate3d(0,0,0);
}

.hamburger-3{
  transform:translate3d(0,$hamburger-spacing,0);
}

.menu-open:checked + .menu-open-button{
  .hamburger-1{
    transform:translate3d(0,0,0) rotate(405deg); 
  }
  .hamburger-2{
    transform:translate3d(0,0,0) scale(0.1,1) rotate(720deg);
  }
  .hamburger-3{
    // transform:translate3d(0,0,0) rotate(-45deg); 
    transform:translate3d(0,0,0) rotate(315deg); 
  }
}

.menu{
  @extend %goo;
  // animation: appear 5s 1 infinite;
  animation-name: move-up-appear;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-duration: 1.5s;
  // animation-delay: 1s;
  animation-timing-function: cubic-bezier(0.90, -0.600, 0.115, 1.20); /* custom */
  // animation-timing-function: cubic-bezier(0.480, -0.600, 0.215, 1.90); /* custom */
  // animation-fill-mode: forwards;
  // filter:url('#shadowed-goo');
  // transform-origin: center;

  // $height:150px;
  // height:$height;
  // $width:100%;
  // width:$width;
  // position: relative;
  // position: absolute;
  position: fixed;
  // left:50%;
  // transform: translate(-50%,0);
  
  left:calc(50% - #{px2rem(40px)});
  bottom: px2rem(110px);
  opacity: 1;
  // margin-left:-80px; // ugly margin hack, use calc!
  // padding-top:20px;
  // padding-left:80px;
  // box-sizing: content-box;
  box-sizing:border-box;
  font-size: px2rem(20px);
  text-align:left;

  @include media('>desktop') {
    animation-name: move-down-appear;
    bottom: unset;
    // left:calc(0% - #{px2rem(-(85px * 2))});
    left: px2rem(85px * 2);
    // top: 10%;
    top: px2rem(110px - 80px);
  }
}

@keyframes move-up-appear {
  0% {
    bottom: -100%;
    opacity: 0;
    // transform: scale(1.1) // transform: translateY(100%)
  }

  81% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    bottom: px2rem(110px);
    transform: scale(1);
    // transform: translateY(0%)
  }

  // 100% {
  //   // opacity: 1;
  // }
}

@keyframes move-down-appear {
  0% {
    top: -100%;
    opacity: 0;
    // transform: scale(1.1) // transform: translateY(100%)
  }

  81% {
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    // top: 10%;
    top: px2rem(110px - 80px);
    transform: scale(1);
    // transform: translateY(0%)
  }

  // 100% {
  //   // opacity: 1;
  // }
}

.menu-item{
  /*
  &:hover{
    background:white;
    color:$fg;
  }
  */

  transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  // transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */

  @for $i from 1 through $menu-items{
    &:nth-child(#{$i+2}){
      transition-duration:200ms;
    }
  }
}

.menu-open-button{
  @extend %ball;
  z-index:2;
  // transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
  transition-duration:400ms;
  // transform:scale(1.1,1.1) translate3d(0,0,0);
  cursor:pointer;
}
/*
.menu-open-button:hover{
  transform:scale(1.2,1.2) translate3d(0,0,0);
}
*/
.menu-open:checked + .menu-open-button{
  // transition-timing-function:linear;
  transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
  transition-duration:200ms;
  // transform:scale(0.8,0.8) translate3d(0,0,0);
  transform:scale(0.85,0.85) translate3d(0, px2rem(-10px),0);
  background: #ff0000;
}

.menu-open:checked ~ .menu-item{
  // transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
  transition-timing-function: cubic-bezier(0.480, -0.600, 0.345, 1.295); /* custom */
  // transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */


  // @for $i from 1 through $menu-items{
  //   @if $i <= 2 {
  //     &:nth-child(#{$i+2}){
  //       transition-duration: 250ms + (80ms * $i);
  //       // transform:translate3d(80px * $i, 0, 0);
  //       // transform:translate3d((80px * $i), (15px * $i - 10), 0);
  //       transform:translate3d(px2rem((80px * $i)), px2rem((15px * $i - 10)), 0);
  //     }
  //   } @else {
  //       &:nth-child(#{$i+2}) {
  //       transition-duration: 250ms + (80ms*($i - 1));
  //       // transform:translate3d(-(80px*($i - 2)), 0, 0);
  //       transform:translate3d(px2rem(-(80px * ($i - 2))), px2rem((15px * ($i - 2) - 10)), 0);
  //     } 
  //   }
  // }
  
  @for $i from 1 through $menu-items{
    @if $i <= 2 {
      &:nth-child(#{$i+2}){
        // transition-duration: 250ms + (80ms * $i);
        // transform:translate3d(80px * $i, 0, 0);
        // transform:translate3d((80px * $i), (15px * $i - 10), 0);
        transition-duration: 250ms + (80ms * abs(($i + 1) - $menu-items));
        transform:translate3d(px2rem(80 * (($i + 1) - $menu-items)), px2rem(-(15px * ($i - 3) + 10)), 0);
      }
    } @else {
        &:nth-child(#{$i+2}) {
        // transition-duration: 250ms + (80ms*($i - 1));
        // transition-duration: 250ms + (80ms * abs(($i - 1) - $menu-items));
        // transform:translate3d(-(80px*($i - 2)), 0, 0);
        transition-duration: 250ms + (80ms*($i - 2));
        transform:translate3d(px2rem(80 * (($i + 2) - $menu-items)), px2rem((15px * ($i - 2) - 10)), 0);
      } 
    }
  }

  

  @include media('>desktop') {
    @for $i from 1 through $menu-items{
      @if $i <= 2 {
        &:nth-child(#{$i+2}){
          // transition-duration: 250ms + (80ms * $i);
          transition-duration: 250ms + (80ms * abs(($i + 1) - $menu-items));
          // transform:translate3d(80px * $i, 0, 0);
          // transform:translate3d((80px * $i), (15px * $i - 10), 0);
          // transform:translate3d(px2rem((80px * $i)), px2rem(-(15px * $i - 10)), 0);
          transform:translate3d(px2rem(80 * (($i + 1) - $menu-items)), px2rem((15px * ($i - 3) + 10)), 0);
        }
      } @else {
          &:nth-child(#{$i+2}) {
          // transition-duration: 250ms + (80ms*($i - 2));
          transition-duration: 250ms + (80ms*($i - 2));

          // transform:translate3d(-(80px*($i - 2)), 0, 0);
          // transform:translate3d(px2rem(-(80px * ($i - 2))), px2rem(-(15px * ($i - 2) - 10)), 0);
          transform:translate3d(px2rem(80px * (($i + 2) - $menu-items)), px2rem(-(15px * ($i - 2) - 10)), 0);
        } 
      }
    }
  }
}






// @import 'gooey-sub';







.sub-menu {
  @extend %goo;
  box-sizing: border-box;
  font-size:20px;
  text-align:left;
  position: relative;

  .menu-open2{
    display:none;
  }
  
  .menu-item2{
    @extend %ball;
  }

  .hamburger2{
    $width:25px;
    $height:3px;
    width:$width;
    height:$height;
    background:white;
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-$width/2;
    margin-top:-$height/2;
    transition:transform 200ms;
  }

  .hamburger-12{
    transform:translate3d(0,-$hamburger-spacing,0);
  }
  
  .hamburger-22{
    transform:translate3d(0,0,0);
  }
  
  .hamburger-32{
    transform:translate3d(0,$hamburger-spacing,0);
  }
  
  .menu-open2:checked + .menu-open-button2{
    .hamburger-12{
      transform:translate3d(0,0,0) rotate(45deg); 
    }
    .hamburger-22{
      transform:translate3d(0,0,0) scale(0.1,1);
    }
    .hamburger-32{
      transform:translate3d(0,0,0) rotate(-45deg); 
    }
  }

  .menu-open-button2{
    @extend %ball;
    z-index:2;
    // transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
    transition-duration:400ms;
    transform:scale(1.1,1.1) translate3d(0,0,0);
    cursor:pointer;
  }

  .menu-item2{
    /*
    &:hover{
      background:white;
      color:$fg;
    }
    */
  
    transition-timing-function:cubic-bezier(0.175, 0.885, 0.320, 1.275);
    // transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
  
    @for $i from 1 through $menu-items{
      &:nth-child(#{$i+2}){
        transition-duration:200ms;
      }
    }
  }

  .menu-open2:checked + .menu-open-button2{
    // transition-timing-function:linear;
    transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
    transition-duration:200ms;
    // transform:scale(0.8,0.8) translate3d(0,0,0);
    transform:scale(0.8,0.8) translate3d(0,0,0);
    background: #ff0000;
  }
  
  .menu-open2:checked ~ .menu-item2{
    // transition-timing-function:cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition-timing-function: cubic-bezier(0.480, -0.600, 0.345, 1.295); /* custom */
    // transition-timing-function: cubic-bezier(0.480, -0.600, 0.515, 1.580); /* custom */
    

    
    @for $i from 1 through $menu-items{
      &:nth-child(#{$i+2}) {
        //     transition-duration: 250ms + (80ms*($i - 2));
        //     // transform:translate3d(-(80px*($i - 2)),0, 0);
            // transform:translate3d(-(80px * ($i - 2)), -(15px * ($i - 2) - 10), 0);
        // transform:translate3d((sin($i*2.8)) + px, -(80px * $i), 0);
        transform:translate3d(0, -(80px * $i), 0);
      } 
    }
  }
}


